python27:
  image: python:2.7
  artifacts:
    paths:
    - junit2html*.xml*
    - junit2htmlreport/tests/*.html
  script:
   - pip install pytest
   - python -m pytest -v junit2htmlreport --junitxml=junit2html-py27.xml
   - python -m junit2htmlreport junit2html-py27.xml
   - python -m junit2htmlreport --report-matrix junit2htmlreport/tests/matrix-example.html junit2htmlreport/tests/junit-axis-linux.xml junit2htmlreport/tests/junit-axis-solaris.xml junit2htmlreport/tests/junit-axis-windows.xml
   - python -m junit2htmlreport --merge junit2html-merged-example.xml junit2htmlreport/tests/junit-unicode.xml junit2htmlreport/tests/junit-unicode2.xml junit2htmlreport/tests/junit-cute2.xml
   - python -m junit2htmlreport junit2html-merged-example.xml

python36:
  image: python:3.6
  artifacts:
    paths:
    - junit2html*.xml*
    - junit2htmlreport/tests/*.html
  script: 
   - pip install pytest
   - python -m pytest -v junit2htmlreport --junitxml=junit2html-py36.xml
   - python -m junit2htmlreport junit2html-py36.xml
   - python -m junit2htmlreport --report-matrix junit2htmlreport/tests/matrix-example.html junit2htmlreport/tests/junit-axis-linux.xml junit2htmlreport/tests/junit-axis-solaris.xml junit2htmlreport/tests/junit-axis-windows.xml
   - python -m junit2htmlreport --merge junit2html-merged-example.xml junit2htmlreport/tests/junit-unicode.xml junit2htmlreport/tests/junit-unicode2.xml junit2htmlreport/tests/junit-cute2.xml
   - python -m junit2htmlreport junit2html-merged-example.xml


python38:
  image: python:3.8
  artifacts:
    paths:
    - junit2html*.xml*
    - junit2htmlreport/tests/*.html
  script: 
   - pip install pytest
   - python -m pytest -v junit2htmlreport --junitxml=junit2html-py38.xml
   - python -m junit2htmlreport junit2html-py38.xml
   - python -m junit2htmlreport --report-matrix junit2htmlreport/tests/matrix-example.html junit2htmlreport/tests/junit-axis-linux.xml junit2htmlreport/tests/junit-axis-solaris.xml junit2htmlreport/tests/junit-axis-windows.xml
   - python -m junit2htmlreport --merge junit2html-merged-example.xml junit2htmlreport/tests/junit-unicode.xml junit2htmlreport/tests/junit-unicode2.xml junit2htmlreport/tests/junit-cute2.xml
   - python -m junit2htmlreport junit2html-merged-example.xml
